* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    background-color: #F1F1F1;
}

.le {
    color: rgb(240, 240, 0);
    font-size: 20px;
    padding-left: 4px;
    text-align: center;
}

.le:hover {
    color: #FCFBF6;
    transition: 0,3s;
}

.corpodireito {
    background-color: #FFFFFF;
    width: 84%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    margin-left: 8%;
    margin-right: 8%;
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
}

.corpodireito p {
    color: #535353;
}

.corpodireito h4 {
    color: #535353;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 5px;
  margin-top: 15px;
}

.barra li{
    width: 100%;
    border-bottom: 1px solid gray;
    padding-top: 8px;
    padding-left: 4px;
}

.barra li:hover {
    background-color: #646363;
    transition: 1s;
}

.barra a {
    color: #FCFBF6;
    text-decoration: none;
}

.barra a:hover {
    color: rgb(240, 240, 0);
    transition: 1s;
}

.titulo h1 {
    color: #cf0000;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
}

.paragrafoshome {
    display: flex;
}

.par1 h2, .par2 h2, .par3 h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.par1 h3, .par2 h3, .par3 h3 {
    color: #535353;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(245, 245, 49); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 235, 97);
}

.yellow {
    color: rgb(218, 149, 3);
}

.green {
    color: green;
}

.red {
    color: red;
}

.lentidao h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lentidao a {
    margin-left: 15px;
    color: #FCFBF6;
    text-decoration: none;
    font-size: 14px;
    background-color: #525151;
    border: 1px solid #6d6d6d;
    border-radius: 7px;
    padding: 3px;
}

.lentidao a:hover {
    color: #525151;
    background-color: rgb(240, 240, 0);
    padding: 6px;
    transition: 1s;
}

.titulo h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo p {
    padding-bottom: 5px;
}

.alterarwifi img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dhcp img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dns img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sntp img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sntp a {
    margin-left: 15px;
    color: #FCFBF6;
    text-decoration: none;
    font-size: 14px;
    background-color: #525151;
    border: 1px solid #6d6d6d;
    border-radius: 7px;
    padding: 3px;
}

.sntp a:hover {
    color: #525151;
    background-color: rgb(240, 240, 0);
    padding: 6px;
    transition: 1s;
}

.ipwan img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ipwan1 img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ping img {
    width: 70%;
    height: 50vh;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sntp textarea {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width: 90%;
    height: 40vh;
}

.telefone img {
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tel img {
    width: 80%;
    height: 25vh;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.telefone2 img {
    width: 70%;
    height: 50vh;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.telefone3 img {
    width: 70%;
    height: 50vh;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mesh img{
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mesh video {
    width: 50%;
    height: 50vh;
}

/* ------------------ */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Ícone do menu */
.hamburger {
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    background: #525151;
    color: white;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.hamburger:hover {
    background-color: #646363;
    transition: 1s;
}

/* Esconder o checkbox */
#menu-toggle {
    display: none;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido por padrão */
    width: 250px;
    height: 100%;
    background: #525151;
    transition: left 0.3s ease;
    padding-top: 60px;
    overflow: auto;
}

/* Itens do menu */
.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 5px;
    text-align: center;
}

.menu-items li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 10px;
}

.menu-items li:hover {
    background: #525151;
}

/* Quando o checkbox está marcado, exibe o menu */
#menu-toggle:checked + .hamburger + .sidebar {
    left: 0;
}

.voltar {
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    background: #525151;
    color: white;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.voltar:hover {
    background-color: #646363;
    transition: 1s;
}

.voltar a {
    text-decoration: none;
    color: white;
}